
<div class="row">
    <div class="col-6">
        <app-grafica1 
            title="Game Console Sales" 
            [dataArray]="[45, 35, 20]"
            [lables]="['Ps5', 'Xbox', 'Switch']">
        </app-grafica1>
    </div>
    <div class="col-6">
        <app-grafica1 
            title="Most Popular Futbol Player" 
            [dataArray]="[50, 20, 10, 15, 5]"
            [lables]="['Messi', 'Maradona', 'Pele', 'Zidane', 'Ronaldinho']">
        </app-grafica1>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <app-grafica2>
        </app-grafica2>
    </div>
</div>